.main{
  padding: 50px 0;
  .container{
    .row{
      .col-md-4:first-child{
        display: none;
        .alice-carousel{
          margin-left: -68px;
          .alice-carousel__wrapper{
            border-radius: 50%;
            .alice-carousel__stage{
              border-radius: 70px !important;
              .item{
                height: 360px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          .alice-carousel__dots{
            display: none;
          }
        }
      }
      .col-md-8{
        h1{
          font-size: 72px;
          font-weight: bold;
          margin-bottom: 65px;
          letter-spacing: 2px;
        }
        p{
          font-size: 20px;
          margin-bottom: 20px;
          line-height: 1;
        }
        .tab-list{
          padding: 0;
          list-style-type: none;
          margin-right: 100px;
          .tab-list-item{
            display: inline-block;
            a{
              text-decoration: none;
              margin-bottom: 9px;
              padding: 18px 32px;
              box-sizing: border-box;
              font-weight: 500;
              font-size: 18px;
              font-family: inherit;
              background-color: transparent;
              -webkit-tap-highlight-color: transparent;
              border: 1px solid #000;
              border-radius: 100px;
              color: #000;
              line-height: 1;
              text-align: center;
              cursor: pointer;
              transition: background-color .15s ease-out,color .15s ease-out;
              margin-right: 10px;
              &:hover{
                border-color: #3f2aff;
                color: #fff;
                background-color: #3f2aff;
              }
            }
          }
        }
      }
      .col-md-4:last-child{
        .alice-carousel{
          margin-left: -68px;
          .alice-carousel__wrapper{
            border-radius: 50%;
            .alice-carousel__stage{
              border-radius: 70px !important;
              .item{
                height: 360px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          .alice-carousel__dots{
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .main{
    .container{
      .row{
        .col-md-8{
          h1{
            font-size: 55px;
          }
          p{
            font-size: 18px;
          }
          .tab-list{
            .tab-list-item{
              a{
                font-size: 16px;
              }
            }
          }
        }
        .col-md-4:last-child{
          .alice-carousel{
            margin-left: -50px;
            .alice-carousel__wrapper{
              border-radius: 50%;
              .alice-carousel__stage{
                .item{
                  height: 276px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
            .alice-carousel__dots{
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 992px){
  .main{
    .container{
      .row{
        .col-md-8{
          display: block;
          padding: 0;
          margin-top: 40px;
          h1{
            font-size: 30px;
            margin-bottom: 35px;
          }
          p{
            font-size: 15px;
          }
          .tab-list{
            margin-right: 0;
            .tab-list-item{
              a{
                font-size: 16px;
              }
            }
          }
        }
        .col-md-4:first-child{
          display: none;
        }
        .col-md-4:last-child{
          display: block;
          .alice-carousel{
            width: 100%;
            margin: 0 auto;
            .alice-carousel__wrapper{
              border-radius: 50%;
              .alice-carousel__stage{
                .item{
                  height: 230px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .main{
    padding-top:20px ;
    padding-bottom: 0;
    .container{
      .row{
        .col-md-8{
          padding: 0;
          h1{
            font-size: 27px;
            margin-bottom: 35px;
          }
          p{
            font-size: 15px;
          }
          .tab-list{
            margin-right: 0;
            .tab-list-item{
              a{
                font-size: 15px;
              }
            }
          }
        }
        .col-md-4:first-child{
          padding: 0;
          display: block;
          margin-bottom: 30px;
          .alice-carousel{
            width: 45%;
            margin: 0 auto;
            .alice-carousel__wrapper{
              width: 100%;
              border-radius: 50%;
              .alice-carousel__stage{
                width: 100% !important;
                .item{
                  width: 100%;
                  height: 240px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
        .col-md-4:last-child{
          display: none;
        }
      }
    }
  }
}
@media screen  and (max-width: 576px){
  .main{
    padding-top:20px ;
    padding-bottom: 0;
    .container{
      .row{
        .col-md-8{
          h1{
            font-size: 27px;
            margin-bottom: 35px;
          }
          p{
            font-size: 15px;
          }
          .tab-list{
            margin-right: 0;
            .tab-list-item{
              a{
                font-size: 15px;
              }
            }
          }
        }
        .col-md-4:first-child{
          padding: 0;
          display: block;
          margin-bottom: 30px;
          .alice-carousel{
            width: 52%;
            margin: 0 auto;
            .alice-carousel__wrapper{
              width: 100%;
              border-radius: 50%;
              .alice-carousel__stage{
                width: 100% !important;
                .item{
                  width: 100%;
                  height: 225px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
        .col-md-4:last-child{
          display: none;
        }
      }
    }
  }
}